/*The following is needed for every page*/
body{
background-color: rgb(240, 244, 246);
font-size:17px!important;
color:black;
}

#wrapper{
margin-right: auto;
margin-left: auto;
padding:20px;
width:1000px;
}

h1{
font-size:2.2em;
//font-weight:bold!important;
}
